# Copyright (c) 2022 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_PSA_MBEDTLS_ECC_P256
    bool
    depends on MODULE_PSA_CRYPTO
    select MODULE_PSA_MBEDTLS

config MODULE_PSA_MBEDTLS_HASHES_SHA256
    bool
    depends on MODULE_PSA_CRYPTO
    select MODULE_PSA_MBEDTLS

config MODULE_PSA_MBEDTLS_ERROR_CONVERSION
    bool

config MODULE_PSA_MBEDTLS
    bool
    select MODULE_PSA_MBEDTLS_ERROR_CONVERSION
