# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
menu "PSA Crypto"
    depends on TEST_KCONFIG

menuconfig MODULE_PSA_CRYPTO
    bool "PSA Crypto API Hash Implementation"

if MODULE_PSA_CRYPTO

menuconfig HASHES_SHA1
    bool "SHA-1"

if HASHES_SHA1

choice HASHES_SHA1_IMPLEMENTATION
    bool "SHA-1 implementation"
    default PERIPH_HASHES_SHA1

config PERIPH_HASHES_SHA1
    bool "Hardware accelerated"
    depends on HAS_HW_HASH_SHA1
    select PERIPH_HASHES

config SW_HASH_SHA1
    bool "Software implemented"
    select MODULE_HASHES_SHA1

endchoice

endif # HASHES_SHA1

menuconfig HASHES_SHA256
    bool "SHA-256"

if HASHES_SHA256

choice HASHES_256_IMPLEMENTATION
    bool "SHA-256 implementation"
    default PERIPH_HASHES_SHA256

config PERIPH_HASHES_SHA256
    bool "Hardware accelerated"
    depends on HAS_HW_HASH_SHA256
    select PERIPH_HASHES

config CRYPTOAUTHLIB_HASH_SHA256
    bool "Microchip Cryptoauth Package"
    select PACKAGE_CRYPTOAUTHLIB
    select MODULE_CRYPTOAUTHLIB_HASHES
    select SE_HASHES

config SW_HASH_SHA256
    bool "Software implemented"
    select MODULE_HASHES_SHA256

endchoice
endif # HASHES_SHA256
endif # MODULE_PSA_CRYPTO

config SE_HASHES
    bool
    help
        Indicates use of a secure element.

endmenu # PSA_Crypto