# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_PSA_SE_DRIVER
    bool
    depends on PACKAGE_CRYPTOAUTHLIB
    default y if MODULE_PSA_CRYPTO

config PSA_SECURE_ELEMENT_ECC
    bool "Use Cryptoauthlib Elliptic Curve"
    select PSA_KEY_SIZE_256
    select PSA_SECURE_ELEMENT_ASYMMETRIC